* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::selection {
	color: #DDDDDD;
	background-color: #444444;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Ubuntu', Helvetica, sans-serif;
	text-shadow: rgba(255, 255, 255, .01) 0 0 1px;
	-webkit-font-smoothing: antialiased;
	color: #EEEEEE;
	background: #444444;
}

#logo {
	display: block;
	width: 75px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../logo.png");
}

#logo img {
	visibility: hidden;
}

#logo:hover {
	background-image: url("../logo_hover.png");
}

nav {
	width: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
	background-color: #DDDDDD;
}

@media (min-width: 600px) {
	nav ul {
		width: 400px;
	}
	
	nav ul a {
		width: 100px;
	}
	
	article {
		padding: 50px;
	}
	
	article p {
		font-size: 1.1em;
	}
}

@media (max-width: 600px) {
	nav ul {
		width: 100%;
	}
	
	nav li {
		display: block;
		width: 100%;
	}
	
	article {
		padding: 10px;
	}
	
	article p {
		font-size: 1em;
		line-height: 1.3em;
	}
}

nav ul {
	margin-left: auto;
	margin-right: auto;
	height: 30px;
	list-style: none;
}

nav li {
	display: inline-block;
	float: left;
}

nav ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color: #444444;
	font-weight: bold;
	transition: color .2s ease-in-out,
		background .2s ease-in-out;
}

nav ul a:visited {
	color: #444444;
}

nav ul a:hover, nav ul a:active {
	color: #FFFFFF;
	background-color: #555555;
}

/**
 * For sticky footer
 */
#main {
	min-height: 100%;
	overflow: auto;
}

article {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
	padding-bottom: 100px;
}

article h1 {
	text-align: center;
	font-size: 2.5em;
}

article p + p {
	margin-top: .5em;
}

article a, article a:visited {
	color: inherit;
	background-color: #666666;
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

article a:hover, article a:active {
	color: #222222;
	background-color: #DDDDDD;
}

article ul {
	list-style: square;
	margin-left: 50px;
	margin-right: 50px;
}

article pre {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid;
	padding: 10px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	tab-size: 4;
}

footer {
	position: relative;
	height: 50px;
	margin-top: -50px;
	clear: both;
	width: 100%;
	text-align: center;
	font-size: .8em;
	font-style: italic;
	background-color: #DDDDDD;
	color: #444444;
	line-height: 50px;
}